*~
bin/
gen/
tmp/
out/
.idea/
target
*.apk
*.iml
ant.properties
gen-external-apklibs
local.properties
proguard-project.txt
.settings/
classes/
build/
.gradle
gradle-app.setting
app/libs
app/src/androidTest/res/raw/credential.xml
app/src/androidTest/res/raw/fp3_credential.xml
app/src/androidTest/res/raw/fp4_credential.xml
build/generated
Thumbs.db
.DS_Store
automation.pid
